In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Load data
Sui_DF = pd.read_csv('Mental Health_Suicide Rate_Age Standard.csv')
Sui_DF.head()

,official_name_en,Sex,Age-standardized suicide rates (per 100 000 population),Age-standardized suicide rates (per 100 000 population).1,Age-standardized suicide rates (per 100 000 population).2,Age-standardized suicide rates (per 100 000 population).3
0,NaN,NaN,2015.0,2010.0,2005.0,2000.0
1,Afghanistan,Both sexes,7.1,7.0,7.3,6.7
2,Afghanistan,Male,10.9,11.1,11.7,10.9
3,Afghanistan,Female,3.1,2.8,2.6,2.3
4,Albania,Both sexes,3.8,5.0,6.5,6.4

In [3]:
# Which countries has more female suicide rate than male?
A = Sui_DF.drop(Sui_DF.index[0])
B = A.assign(mean=A.mean(axis=1))
C = B[['official_name_en','Sex', 'mean']]
C
T = C.groupby(['official_name_en', 'Sex'])[['mean']].sum() # By using 'groupby', we can actually remove the first index column! 
T[:6] #Show top 6 rows

                                mean
official_name_en Sex
Afghanistan       Both sexes   7.025
                  Female       2.700
                  Male        11.150
Albania           Both sexes   5.425
                  Female       2.975
                  Male         7.975

In [4]:
# Create a list of country from csv file 
#ref: https://stackoverflow.com/questions/24441606/how-to-create-a-list-in-python-with-the-unique-values-of-a-csv-file
official_name_en = [] 
for row in C.values: #convert C to aray
    if row[0] not in official_name_en:
        official_name_en.append(row[0])
print(official_name_en)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "C??te d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [7]:
# Separate data of male & female
t = C['mean'].groupby([C['official_name_en'], C['Sex']])
t.mean()
u = t.mean().unstack()
Men = u[' Male']
Women = u[' Female']
Diff = Men - Women
Diff.head()

official_name_en
Afghanistan             8.450
Albania                 5.000
Algeria                 3.350
Angola                 24.450
Antigua and Barbuda     2.025
dtype: float64

In [8]:
official_name_en[0] # Afghanistan
Diff[official_name_en[0]] # Difference between suicide rate of men and women in Afghanistan
for Z in official_name_en: # Iterate the elements in the list
    if Diff[Z] < 0:
        print(Z)

Bangladesh
China